 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/MVIMG_20191219_1056191.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 783px;
}

.u-section-1 .u-image-1 {
  width: 273px;
  height: 273px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  background-image: url("images/Bilde1.jpg");
  background-position: 50% 50%;
  margin: 176px auto 0 71px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -202px 547px 0 384px;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 253px 0 auto;
}

.u-section-1 .u-icon-1 {
  width: 46px;
  height: 46px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 291px auto 60px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 284px;
    margin-right: 447px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 174px;
    margin-right: 337px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 194px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 84px;
    margin-right: 247px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 146px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 67px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 131px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 92px;
  }
}

.u-section-1 .u-icon-1,
.u-section-1 .u-icon-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-1 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-1 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-section-1 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 544px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 70px 0 100px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 404px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-2 .u-video-1 {
  height: 334px;
  width: 593px;
  margin: 0 -19px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 333px;
  }

  .u-section-2 .u-video-1 {
    height: 256px;
    width: 455px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 255px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-video-1 {
    height: 194px;
    width: 345px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 383px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 241px;
  }

  .u-section-2 .u-video-1 {
    height: 191px;
    width: 340px;
  }
} .u-section-3 {
  min-height: 318px;
}

.u-section-3 .u-sheet-1 {
  min-height: 688px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 688px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-custom-html-1 {
  min-height: 540px;
  margin: 19px 3px 0 -3px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 688px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 53px auto 0 60px;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0 60px;
}

.u-section-3 .u-image-1 {
  width: 572px;
  height: 311px;
  margin: 37px -1px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 567px;
  }

  .u-section-3 .u-custom-html-1 {
    height: auto;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 567px;
  }

  .u-section-3 .u-image-1 {
    width: 470px;
    height: 255px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 66px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 434px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 360px;
    height: 195px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 651px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 410px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 184px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 469px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 409px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 53px auto 0 60px;
}

.u-section-4 .u-text-2 {
  margin: 20px 60px 0;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  border-style: none;
  background-image: none;
  margin: 42px auto 0 60px;
  padding: 18px 90px 20px;
}

.u-section-4 .u-image-1 {
  min-height: 409px;
  background-image: url("images/257840454_106912118483629_1804394709455601290_n.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 337px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    min-height: 258px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-4 .u-image-1 {
    min-height: 581px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-4 .u-image-1 {
    min-height: 366px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 544px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 92px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 404px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-5 .u-video-1 {
  height: 334px;
  width: 593px;
  margin: 0 -19px;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 333px;
  }

  .u-section-5 .u-video-1 {
    height: 256px;
    width: 455px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 255px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-video-1 {
    height: 194px;
    width: 345px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 383px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 241px;
  }

  .u-section-5 .u-video-1 {
    height: 191px;
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 899px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 18px;
  margin-bottom: 5px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 886px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-custom-html-1 {
  min-height: 851px;
  margin: 2px 715px 0 30px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -825px auto 0 453px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: 34px 211px 0 auto;
}

.u-section-6 .u-btn-1 {
  font-size: 0.875rem;
  border-style: none;
  background-image: none;
  margin: 44px auto 0 453px;
  padding: 19px 62px;
}

.u-section-6 .u-image-1 {
  width: 642px;
  height: 354px;
  margin: 10px 45px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-6 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 731px;
  }

  .u-section-6 .u-custom-html-1 {
    height: auto;
    margin-right: 645px;
    margin-left: 0;
  }

  .u-section-6 .u-text-1 {
    margin-left: 373px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 174px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 353px;
  }

  .u-section-6 .u-image-1 {
    width: 465px;
    height: 257px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 126px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 578px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-custom-html-1 {
    margin-right: 465px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 434px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 173px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-custom-html-1 {
    margin-right: 265px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 273px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 110px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 188px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 544px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1140px;
  margin: 70px 0 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 404px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-7 .u-video-1 {
  height: 334px;
  width: 593px;
  margin: 0 -19px;
}

.u-section-7 .embed-responsive-1 {
  position: absolute;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 404px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 20px 92px 0 20px;
}

.u-section-7 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-7 .u-btn-1 {
  font-size: 0.875rem;
  border-style: none;
  background-image: none;
  margin: 0 auto 40px -19px;
  padding: 19px 44px 19px 43px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 333px;
  }

  .u-section-7 .u-video-1 {
    height: 256px;
    width: 455px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 20px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 255px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-video-1 {
    height: 194px;
    width: 345px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 383px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 241px;
  }

  .u-section-7 .u-video-1 {
    height: 191px;
    width: 340px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 444px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 31px;
  margin-bottom: 31px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 404px;
}

.u-section-8 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-8 .u-video-1 {
  height: 334px;
  width: 593px;
  margin: 0 -19px;
}

.u-section-8 .embed-responsive-1 {
  position: absolute;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 404px;
}

.u-section-8 .u-container-layout-2 {
  padding: 0;
}

.u-section-8 .u-text-1 {
  margin: 20px 117px 0 20px;
}

.u-section-8 .u-text-2 {
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 333px;
  }

  .u-section-8 .u-video-1 {
    height: 256px;
    width: 455px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 333px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 20px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 255px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-video-1 {
    height: 194px;
    width: 345px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-layout-cell-1 {
    min-height: 383px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-cell-1 {
    min-height: 241px;
  }

  .u-section-8 .u-video-1 {
    height: 191px;
    width: 340px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 424px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 23px;
  margin-bottom: 23px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 409px;
}

.u-section-9 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-9 .u-video-1 {
  height: 334px;
  width: 593px;
  margin: 0 -19px;
}

.u-section-9 .embed-responsive-1 {
  position: absolute;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 409px;
}

.u-section-9 .u-container-layout-2 {
  padding: 0;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 6px 117px 0 20px;
}

.u-section-9 .u-text-2 {
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-9 .u-video-1 {
    height: 256px;
    width: 455px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 337px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 20px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 258px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-video-1 {
    height: 194px;
    width: 345px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-layout-cell-1 {
    min-height: 387px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-layout-cell-1 {
    min-height: 244px;
  }

  .u-section-9 .u-video-1 {
    height: 191px;
    width: 340px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 444px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 31px;
  margin-bottom: 31px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 404px;
}

.u-section-10 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-10 .u-video-1 {
  height: 334px;
  width: 593px;
  margin: 0 -19px;
}

.u-section-10 .embed-responsive-1 {
  position: absolute;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 404px;
}

.u-section-10 .u-container-layout-2 {
  padding: 0;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  margin: 20px 117px 0 20px;
}

.u-section-10 .u-text-2 {
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 333px;
  }

  .u-section-10 .u-video-1 {
    height: 256px;
    width: 455px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 333px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 20px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 255px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-video-1 {
    height: 194px;
    width: 345px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-layout-cell-1 {
    min-height: 383px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-layout-cell-1 {
    min-height: 241px;
  }

  .u-section-10 .u-video-1 {
    height: 191px;
    width: 340px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 954px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  margin: 25px auto 0;
}

.u-section-11 .u-gallery-1 {
  width: 442px;
  height: 845px;
  grid-gap: 10px 10px;
  margin: 16px auto;
}

.u-section-11 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-11 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-11 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-11 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-11 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-11 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-11 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-11 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-11 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-11 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-11 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-11 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-11 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-11 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-11 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-11 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-11 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-11 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-carousel-thumbnail-2 {
    width: 80px;
    height: 80px;
  }

  .u-section-11 .u-carousel-thumbnail-3 {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-gallery-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-11 .u-carousel-thumbnail-2 {
    width: 60px;
    height: 60px;
  }

  .u-section-11 .u-carousel-thumbnail-3 {
    width: 60px;
    height: 60px;
  }
}